DATABASE_URL=mysql://root:UIjJya3urW1Z5LfH6hlyl1zXu3aQRi@192.168.2.45:3306/mini_waf
# Geo-Blocking IP 库路径
MMDB_PATH=./data/GeoLite2-Country.mmdb

# TLS/SSL 证书配置 (可选，若配置则开启 443 HTTPS 监听)
# TLS_CERT_PATH=./certs/domain.crt
# TLS_KEY_PATH=./certs/domain.key
# TLS_PORT=443

