/* 修复 Webkit 内核浏览器自动填充表单时导致输入框变硬编码白色的问题 */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #141414 inset !important;
    -webkit-text-fill-color: #c9d1d9 !important;
    caret-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
}
